*{
    margin: 0;
    padding: 0;
}
.flex-class {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.me-auto {
    margin-right: 0!important;
    margin-left: auto !important;
}


.main{
    background-image:url(images/hero.png);
    width:100%;
    z-index: 10;
    
 }
 .main-2{
  background: rgba(127, 29, 29, 0.33);
z-index: -12;
 }

 .group{
      margin-left:2em;
      margin-top:230px;
      background-image:url()
    
 }

 .background{
    background-image: url(images/top.png);
    z-index: 1;
 }

 .maskgroup{
    display: flex;
    justify-content: center;
    padding-left:42px ;
    padding-top: 100px;
    min-height: 90vh;

 }
 .main-flex {
    display: flex;
    flex-direction: row;
 }
 .list-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 90vh;
    padding: 0px 30px;
 }
 .heading-text{
   /* Key Pieces of New Season */

   font-family: 'Bigilla';
   font-style: normal;
   font-weight: 700;
   font-size: 96px;
   line-height: 100px;
   /* or 104% */
   
   
   color: #2F2649;
   


 }
 @media only screen and (min-width: 1200px) {
    .heading-text{
       /* Key Pieces of New Season */

       font-family: 'Bigilla';
       font-style: normal;
       font-weight: 700;
       font-size: 96px;
       line-height: 100px;
       /* or 104% */
       
       
       color: #2F2649;
       


     }
 }

 @media only screen and (min-width: 992px) {
    .heading-text{
   /* Key Pieces of New Season */


   font-family: 'Bigilla';
   font-style: normal;
   font-weight: 700;
   font-size: 96px;
   line-height: 100px;
   /* or 104% */
   
   
   color: #2F2649;
   



 }}

 @media only screen and (max-width: 768px) {

 .heading-text{
/* Key Pieces of New Season */


font-family: 'Bigilla';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 100px;
/* or 104% */


color: #2F2649;



 }
}
@media only screen and (min-width: 600px) {
    .heading-text{
 /* Key Pieces of New Season */
 font-family: 'Bigilla';
 font-style: normal;
 font-weight: 700;
 font-size: 96px;
 line-height: 100px;
 /* or 104% */
 
 
 color: #2F2649;
 


     }
}
@media only screen and (max-width: 300px) {

    .heading-text{
   /* Key Pieces of New Season */
    width:241px;
   font-family: 'Bigilla';
   font-weight: 500;
   font-size: 26px;
   line-height: 100px;
   /* or 104% */
   color: #2F2649;
 

     }
}

.nav-link {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
padding-top: 43px;
color: #4F433F !important; 

}




 .list-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top:84px;
 }

 .description-tag{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 20px;
/* identical to box height, or 91% */


color: #4F433F;

 }
 .line-image{
    width:90px;
    padding-bottom:122px;
    font-weight: 700px;
 }

 

 .box-block {
    background: rgba(200, 172, 161, 0.26);
    border-radius: 8px;
    width: 90%;
    height: 143px;
    border-radius: 8px;
    display: flex;
    margin-left: 0px;
  }
  .box-1{
    width: 25%;
    height: 104px;
    margin-top: 20px;
    margin-left: 20px
  }
  .box-2 {
    width: 25%;
    height: 104px;
    margin-top: 20px;
    margin-left: 20px
  }
  
  .box-3 {
    width: 25%;
    height: 104px;
    margin-top: 20px;
    margin-left: 20px
  }
  
  .box-4 {
    width: 25%;
    height: 104px;
    margin-top: 20px;
    margin-left: 20px
  }
  .box-5{
    display: flex;
    width: 5%;
    height: 60px;
    margin-top: 40px;
    margin-left: 20px;
    align-items: center;
    
  }
  .navbar-nav{
    padding-right:92px ;
  }
.navbar-brand{
    padding-left:62px;
    padding-top: 43px;
    background-color: linear-gradient(179.77deg, #C8ADA2 -22.78%, #D5D3C9 87.53%);
}
.space-count{
    height:200px;
}
.info-1{
    display: flex;
    background-color: #ffff;
    margin-top:70px;
    border-radius: 8px;
    box-shadow: 10px 10px rgba(199, 185, 192, 0.3);;
    margin-bottom:90px;


}

  .info-1 > div {
    background: #ffff;;
    margin: 10px;
    padding: 20px;
  }
  h1{
    display: flex;
    font-family: 'Brasley';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    align-content: center;    
    text-align: center;
    padding-left:40px;
    
    color: #000000;
    
  }
  p{
    display: flex;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-top: 10px;
    padding-left:-4px;
    color: #6B7280;
    

  }
  .info1{
    padding-left:63px;
  }

  @media only screen and (max-width: 600px){
    .info-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
      }
  }


  
  .card {
    margin: 0 0.5em;
    background-color:    #C8ACA133;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    width: auto !important;
    height: auto !important;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 7vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    padding:22px;
    transform: translateY(-50%);
  }
  @media (min-width: 768px) {
    .carousel-item {
      margin-right: 0;
      flex: 0 0 25%;
      display: block;

    }
    .carousel-inner {
      display: flex;
    }
  }
  .card .img-wrapper {
      max-width: 100%;
      height: 14em;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 50px;;
 
  }
  .card img {
       padding:20px;
      width:auto !important;
      height: auto !important;

  }
  @media (max-width: 767px) {
    .card .img-wrapper {
      height: 17em;
    }
  }
.card-body{
  display: flex;
  margin-left: 25px;
  background: #F4EEEC;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  background-size: cover;
  border-radius: 8px;
  width: 80%;
 margin: 26px;
}

.direction-arrow{
  width: 28.58px;
  height: 17.81px;  
  display: flex;
  float: right;
  

}
.slide-left{
 display: flex;
 
 margin-left:-114px;
 margin-bottom:130px;
}
.slide-right{
  display: flex;
 margin-right:-114px;
 margin-bottom:130px;

}

@media only screen and (max-width: 600px) {
  .slide-left{
    display: flex;
    
    margin-left:-14px;}
    .slide-right{
      display: flex;
    
    margin-right:-4px;}
}
.product-intro{
  display:flex;
  justify-content: center;
  font-family: 'Brasley';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #2F2649;
  padding-top:32px;
}

.product-description{
  display:flex;
  justify-content: center;
  font-family: 'Brasley';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
text-align: center;
color: #000000;
padding-bottom: 50px;;



}
.card-title{
  display:flex;
  justify-content: space-between;
}
.arrow-sider{
  margin-left:32px;
}

.button-background{
  display: flex;
  justify-content: center;
  background: rgba(200, 172, 161, 0.2);
  border-radius: 8px;
  margin-top:55px;
  width:70%;
  height:28%;
  font-family: 'Brasley';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 20px;
  color: #5B6E9D;
  margin-bottom:44px;
  padding:40px;
 
}



.parent-bg {
  background: rgba(200, 172, 161, 0.2);
border-radius: 8px;
width: 100%;
padding: 20px 20px 10px 20px;

}
.border-box {
  border: 8px solid #7287BB;
  width: 184px;
  height: 182px;
  z-index: 1;
  
}
.text-bg {

  margin-left: -147px;
  font-family: 'Brasley';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 50px;
text-align: center;
color: #2F2649;
background: rgba(200, 172, 161, 0.2);
padding:22px;
margin-top:40px;
z-index: 80;
}

