/* .h-alignment{
display: inline;
width:100%;
  
} */
.home{
    /* Home */

width: 50px;
height: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #4F433F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


}
.aboutus{
/* About Us */

width: 76px;
height: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #4F433F;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


}
.how{
  /* How it works */

width: 106px;
height: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #4F433F;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
  

}
.contactus{
/* Contact Us */

width: 90px;
height: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #4F433F;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


}
.help{
    /* Help */

width: 39px;
height: 20px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #4F433F;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;

    
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 80px;
    left: 164px;
    z-index: 30;
    justify-content: space-between;  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    z-index: 10;


  }
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
    background-image: url(images/topright.png);
  }
  
  .bottom-right {
    position: absolute;
    bottom: 2px;
    right: 270px;

    width:390px;
    background-image: url(images/bottomright2.png);
    background-image: bottom;
    padding:20px;
    justify-content: space-between;

  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    /* Key Pieces of New Season */

position: absolute;
width: 541px;
height: 200px;
left: 70%;
top: 237px;

font-family: 'Bigilla';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 100px;
/* or 104% */

color: #2F2649;


  }
  .centereddescription{
    position: absolute;
    top: 45%;
    left: 65.5%;
    transform: translate(-50%, -50%);
    /* New Arrivals */
     position: absolute;
    width: 30%;
    height: 20px;
    top: 392px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 20px;
/* identical to box height, or 91% */

    color: #4F433F;



  }
  .bella{
    background-image:url(images/top.png) ;
  }
  /* .box{
    display: flex;
    left:2px ;
  } */


  .row{
    background-image: url(images/hero.png);
  }
  .set{
    position:absolute;
  
  }